 <!-- {% if book.3 == "Fantasy" %}
                <div class="book-item">
                    <strong>Category : {{ book.3 }}</strong>
                    Name: {{ book.2 }} 
                    Author: {{ book.6 }} 
                    Publisher: {{ book.7 }}
                {% endif %}
                </div>
                {% endfor %} -->
                <!-- {% for book in book_data %}
                {% if book.3 == "History" %}
                <div class="book-item">
                    <strong>Category : {{ book.3 }}</strong>
                    Name: {{ book.2 }} 
                    Author: {{ book.6 }} 
                    Publisher: {{ book.7 }}
                {% endif %}
                </div>
            {% endfor %} -->